<h1> Edit Course </h1>
<%=form_for @course do |f|%>
    <%= f.label :start_date%>
    <%= f.date_field :start_date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
    <%= f.label :month_duration%>
    <%= f.number_field :month_duration, in: 1..6%>
    <%= f.submit%>
<%end%>